<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582487302548-cthsv7imiilc680600k0ngfpusdi1kns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582487302548-cthsv7imiilc680600k0ngfpusdi1kns</string>
	<key>API_KEY</key>
	<string>AIzaSyBiVf5GcKjE3zaNTUdtEzyEJUD-ZHWOlnA</string>
	<key>GCM_SENDER_ID</key>
	<string>582487302548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>shota-gishitomi.MoneyManageMobile</string>
	<key>PROJECT_ID</key>
	<string>moneymanageappmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymanageappmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582487302548:ios:006df60e1f2bd4e118af81</string>
</dict>
</plist>